* {
  text-align: center;
  margin-top: 20px;
  background: black;
  color: rgb(250, 217, 222);

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block-1 {
  width: 50%;
  height: 15rem;
  padding: 50px;
}

.green {
  border: 1px solid rgb(176, 255, 30);
}

.pink {
  border: 1px solid rgb(255, 30, 161);
}

.orange {
  border: 1px solid rgb(255, 101, 30);
}


.blue {
  border: 1px solid rgb(30, 83, 255);
}

button {
  border: 2px solid rgb(253, 249, 10);
  width: 10em;
  padding: 10px 10px;
  margin: 0px 10px;
}

input {
  border: 2px solid rgb(253, 10, 63);
  width: 20em;
  height: 2rem;
}

@media screen and (max-width: 1200px) {
  input {
    margin: 10px;
  }

  .block-1 {
    overflow: auto
  }
}