* {
  text-align: center;
  margin-top: 20px;
  background: black;
  color: rgb(250, 217, 222);

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block-1 {
  width: 50%;
  height: 15rem;
  padding: 50px;
}

.green {
  border: 1px solid rgb(176, 255, 30);
}

.pink {
  border: 1px solid rgb(255, 30, 161);
}

.orange {
  border: 1px solid rgb(255, 101, 30);
}

.blue {
  border: 1px solid rgb(30, 83, 255);
}

.yellow {
  border: 1px solid rgb(253, 249, 10);
}